<!DOCTYPE html>
<html>
<head>
    <title>Members</title>
</head>
<body>
    <h1>Members</h1>
    <table>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Trainer</th>
        </tr>
        {% for member in members %}
        <tr>
            <td>{{ member[0] }}</td>
            <td>{{ member[1] }}</td>
            <td>{{ member[4] }} {{ member[5] }}</td>
        </tr>
        {% endfor %}
    </table>

    <p>Here you can manage all members</p>

    <a href="/">Home</a>
</body>
</html>