{% extends "base.html" %}
{% block content %}

<h1>Members</h1>

<a href="{{ url_for('add_member') }}">Add Member</a>
<a href="{{ url_for('update_trainer_of_member') }}">Update Trainer of a meber</a>
<a href="{{ url_for('delete_trainer') }}">Delete Member</a>

<table>
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Trainer</th>
        <th>Speciality</th>
    </tr>
    {% for member in members %}
    <tr>
        <td>{{ member[0] }}</td>
        <td>{{ member[1] }}</td>
        <td>{{ member[2] }}</td>
        <td>{{ member[3] }}</td>
        <td>{{ member[4] }} {{ member[5] }}</td>
        <td>{{ member[6] }}</td>
    </tr>
    {% endfor %}
</table>



{% endblock %}
